<h1>Carrito de Compras</h1>

{{#each products}}
  <div>
    <h2>Product: {{this.product.title}}</h2>
    <p>Precio: ${{this.product.price}}</p>
    <p>Quantity: {{this.quantity}}</p>
  </div>
{{/each}}