<h1>HOME</h1>

<div class="div-home">
    {{#each product}}
        <div class="card">
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
        </div>
    {{/each}}
</div>